.section-login {
  background-color: var(--cor-fundo-3);
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formlogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 11.8125rem;
  width: 100%;
  max-width: 26.4375rem;
}

.formusuario {
  border: none;
  border-radius: 0.25rem;
  height: 2.5625rem;
  outline: none;
  width: 100%;
  padding: 1rem;
}

.formsenha {
  border: none;
  border-radius: 0.25rem;
  height: 2.5625rem;
  outline: none;
  width: 100%;
  padding: 1rem;
}

.btn-fazerlogin {
  background-color: var(--cor-fonte2);
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 400;
  height: 2.5rem;
  padding: 0.75rem 1rem;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.formlogin__titulo {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .formlogin__titulo {
    font-size: 1.125rem;
  }

  .formusuario {
    height: 3.5rem;
    width: 26.4375rem;
  }

  .formsenha {
    height: 3.5rem;
    width: 26.4375rem;
  }

  .btn-fazerlogin {
    height: 3.1875rem;
    width: 26.4375rem;
    font-size: 1rem;
    padding: 1rem;
  }

  .formlogin {
    height: 18.1875rem;
    width: 26.4375rem;
  }
}
